/* .category-tabs-container .ant-tabs-nav .ant-tabs-nav-wrap {
    border-bottom: 1px solid #D6D6D6;
}   */

.category-tabs-container {
  background-color: #ffffff;
  padding: 29px 53px;
}
.ant-tabs {
  color: #292c39;
  font-family: "Lato";
  font-weight: 400;
  width: 100%;
}.ant-tabs-ink-bar {
  background: #00adef;
}
.ant-tabs-tab {
  font-size: 16px;
  padding: 22px 0;
  margin-right: 20px;
  line-height: 22px;
  font-weight: 400;
  font-family: Lato;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #292c39;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  text-shadow: none;
}
.ant-tabs-tab:hover {
  color: #292c39;
}
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
  margin-bottom: 27px;
}
.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar {
  height: 4px;
  width: 68px;
}
